*{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-color: rgb(31, 103, 142);
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-top: 40px; */
    border: 1px solid crimson;
}
.logo{
    color: white;
    font-size: 40px;
     padding: 20px; 
}
b{
    color:crimson;
}
nav ul{
    display: flex;
}
li{
    list-style: none;
    padding: 20px;
    margin-top: -80px;
    font-size: 20px;
    transition: 1s;
}
li:hover{
    color: crimson;
    transition: 1s;
    text-decoration: underline;
}
.hero2{
    
    color: black;
}

.btn{
    padding: 10px 25px;
    background-color: crimson;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 30px;
    margin-top: -90px;
    transition: 2;
}
.logo:hover{
    color: black;
    transition: 2s;
}
b:hover{
    color: greenyellow;
    transition: 2s;
}
.btn:hover{
    transform: scale(1.2);
    transition: 2s;
}
